.settings-menu-item-container {
  max-width: 20rem;
  margin: 0;
  padding-right: 0;
}

.settings-menu-item-row {
  height: 6rem;
  align-items: center;
  padding: 0;
}

.settings-menu-item-col {
  padding: 0;
}

.settings-menu-item-icon {
  width: 1rem;
  height: 1rem;
}

.settings-menu-item-text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 1rem;
  display: block;
  color: #889898;
  padding: 0.2rem;
}

.settings-menu-item-title {
  font-weight: 500;
}

.settings-menu-item-line {
  width: 0.3rem;
  height: 2.7rem;
  background: #ea7c69;
  border-radius: 0.2rem;
  margin-left: auto;
}
