.home-header-row {
  align-items: center;
}

.home-header-title {
  font-family: Barlow;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  padding: 0 0.5rem;
}

.home-header-row-line {
  border-bottom: 1px solid #393c49;
}
