.left-menu-bg {
  background: #1f1d2b;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 100vh;
  width: 4.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
