.most-ordered-container {
  max-width: 30rem;
  margin: 0;
}

.most-ordered-text {
  display: block;
  padding: 0.3rem 0;
  font-style: Barlow;
  font-weight: 400;
  font-size: 1rem;
}

.most-ordered-title {
  color: #e0e6e9;
  font-weight: 500;
}

.most-ordered-count {
  color: #abbbc2;
}
